@inherits LayoutComponentBase

<div class="page">
    <NavMenu />
    <div id="home" style="padding-top: 38px" class="main">
        <div class="content">
            @Body
        </div>
        @*<Footer />*@
    </div>
</div>
<AnchorUtilsComponent />
