@page "/"

<TopArea />
<TextContainer Title="ÜBER MICH" Id="text-about" BackgroundColor="#F9F871">
    <div class="flexContainer">
        <div style="width: 480px;">
            <h4 style="font-size: 18px">Servus!</h4>
            <p>Ich bin Antonia Knupfer. Seit meiner Kindheit prägt der Sport maßgeblich mein Leben. Neben der Leichtathletik, dem Schwimmen und dem Tennis habe ich die letzten 14 Jahre mich dem professionellen Frauenfußball gewidmet.</p>
            <p>Bereits während meiner Sportlerlaufbahn habe ich die Liebe und Freude zum Training entwickelt.</p>
            <b>Ich möchte DICH bei deiner Erfolgsgeschichte begleiten und unterstützen!</b>
        </div>
    </div>
</TextContainer>
<ImageContainer ImagePath="https://static.wixstatic.com/media/84770f_8506293a29b44887a8a0cb383c0c2078.jpg/v1/fill/w_1903,h_839,al_c,q_85,usm_0.66_1.00_0.01/84770f_8506293a29b44887a8a0cb383c0c2078.webp">
    <CardArray />
    <div class="flexContainer m-5">
        <BookingButton />
    </div>
</ImageContainer>
<TextContainer Title="TRAINING" Id="text-training" BackgroundColor="#E8F3F1">
    <div class="flexContainer">
        <div style="width: 480px;">
            <p>
                Gemeinsam erstelle wir einen individuell auf dich angepassten Trainingsplan
            </p>
            <p>
                Wir Trainieren gemeinsam dort wo du möchtest – sei es in einem Fitnessstudio, bei dir zu Hause, in einer
                meiner Locations in München oder im Freien
            </p>
            <b>MAKE YOURSELF PROUD!</b>
        </div>
    </div>
</TextContainer>
<ImageContainer ImagePath="https://static.wixstatic.com/media/84770f_98e3c16564e8460f928638971295c790.jpg/v1/fill/w_1903,h_735,al_c,q_85,usm_0.66_1.00_0.01/84770f_98e3c16564e8460f928638971295c790.webp">
    <TilesArray />
    <div class="flexContainer m-5">
        <BookingButton />
    </div>
</ImageContainer>
<ContactArea BackgroundColor="#82E4D5" />