.grid-container {
    margin-top: 2rem;
    position: static;
    height: auto;
    display: grid;
    grid-gap: 0;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.heading5 {
    font: normal normal normal 25px/1.4em spinnaker, sans-serif;
    color: #303030;
}

.font {
    font: normal normal normal 14px/1.4em spinnaker, sans-serif;
    color: #616161;
    margin: 10px 0;
}

.list {
    font: normal normal normal 14px/1.4em spinnaker, sans-serif;
    color: #616161;
}

.card-tile {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 4vh;
    padding-left: 4vh;
    max-width: 33vh;
    box-sizing: content-box;
}

.first-card {
    grid-column: 1;
    background-color: white;
}

.second-card {
    grid-area: 1 / 2 / 1 / 1;
    grid-column-start: 1;
    background-color: #F9F871;
}

@media only screen and (min-width: 768px) {
    .second-card {
        grid-column: 2;
        background-color: #F9F871;
    }

    .grid-container {
        position: static;
        height: auto;
        display: grid;
        grid-gap: 10px;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
    }

    .card-tile {
        margin-right: 3px;
        padding-top: 5vh;
        padding-bottom: 20px;
        padding-right: 35px;
        padding-left: 35px;
        min-width: 15vw;
    }
}
