<div class="container-centered">
    <div class="grid-container">
        <div class="card-tile first-card">
            <h1 class="heading5" style="text-align: center; font-weight: bold">PERSONAL-TRAINING</h1>
            <ul class="list">
                <li>
                    <p class="font">Training unter exklusiver und persönlicher Betreuung</p>
                </li>
                <li>
                    <p class="font">&nbsp;Individuellen Trainingsplanung, -steuerung und –anpassung</p>
                </li>
                <li>
                    <p class="font">Du willst gezielt Muskulatur aufbauen?</p>
                </li>
                <li>
                    <p class="font">Dich wieder wohl fühlen wenn du in den Spiegel schaust?</p>
                </li>
                <li>
                    <p class="font">Einen Ausgleich zu deinem Arbeitsalltag schaffen?</p>
                </li>
            </ul>
            <p class="font">&nbsp;</p>
            <p class="font"><span style="font-weight:bold; text-align: center">Ich helfe dir dein ganz persönliches Ziel zu erreichen!</span></p>
        </div>
        <div class="card-tile second-card">
            <h1 class="heading5" style="text-align: center; font-weight: bold;">GRUPPENTRAINING</h1>
            <ul class="list">
                <li>
                    <p class="font">Zusammen als TEAM trainieren und zum Erfolg kommen!</p>
                </li>
                <li>
                    <p class="font">Group Fitness motiviert, macht Spaß, verbindet und lässt dich über deine Grenzen gehen.</p>
                </li>
                <li>
                    <p class="font">Das Ziel: DEINE Kraft, Ausdauer, Beweglichkeit, Balance, Schnelligkeit und Koordination spürbar zu verbessern</p>
                </li>
                <li>
                    <p class="font">Hierbei kommt darauf an, über deine maximale und persönliche Leistungsfähigkeit zu kommen</p>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {

}
