@using System.Net.Mail;

<TextContainer Title="KONTAKT" Id="text-contact" BackgroundColor="@(string.IsNullOrWhiteSpace(BackgroundColor) ? "#82E4D5" : BackgroundColor)">
    <div class="flexContainer" style="flex-direction:column;">
        <div style="margin: 2vh 0px 1vh 0">
            <div>
                <input class="input-style text-box" type="text" required="" placeholder="Name" @bind="@name" maxlength="100">
            </div>
            <div>
                <input class="input-style text-box" type="text" required="" placeholder="E-Mail-Adresse" @bind="@email" maxlength="100">
            </div>
            <div>
                <textarea class="input-style text-area" placeholder="Nachricht" @bind="@message"></textarea>
            </div>
            <div class="flex-row">
                @* <a href="mailto:me@me.com?subject=Me&body=<b>ME</b>">Mail me</a> *@
                <button class="button-style" style="cursor:pointer" onclick="window.location.href='mailto:antonia@asthetik-personal.com?subject=Anfrage%20von%20@(name)&body=@(message)'">Senden</button>
                @*<button class="button-style" style="cursor:pointer" @onclick="SendContactMail">Senden</button>*@
            </div>
        </div>
        <div>
            <div>Antonia Knupfer</div>
            <div>Tegernseer Landstraße 36, 81541 München</div>
            <div>Tel: 12345/67890</div>
            <div>antonia@asthetik-personal.com</div>
        </div>
    </div>
</TextContainer>

@code {
    private string name;
    private string email;
    private string message;

    [Parameter]
    public string BackgroundColor { get; set; }

    private void SendContactMail()
    {
        //new SmtpClient().Send();
    }
}