.input-style {
    border-color: rgba(255, 255, 255, 1);
    border-width: 0 0 2px 0;
    background: transparent;
    word-break: break-word;
    display: inline-block;
    position: relative;
    width: 75vw;
    flex: 1;
}

.text-area {
    padding-left: 0.2vh;
    padding-right: 1vw;
    height: 19vh;
    resize: none
}

.text-box {
    padding-left: 0.2vw;
    height: 33px
}

.button-style {
    font: normal normal normal 16px/1.4em spinnaker,sans-serif;
    transition: color 0.4s ease 0s;
    color: #FFFFFF;
    display: inline-block;
    border-color: rgba(255, 255, 255, 1);
    border-width: 0;
    background: transparent;
    display: inline-block;
    position: relative;
    flex: 1;
}

    .button-style:focus {
        outline: 0;
        color: rgba(97, 97, 97, 1);
    }


@media only screen and (min-width: 768px) {
    .input-style {
        border-color: rgba(255, 255, 255, 1);
        border-width: 0 0 2px 0;
        background: transparent;
        word-break: break-word;
        display: inline-block;
        position: relative;
        width: 25vw;
        flex: 1;
    }
}
