.tileContainer {
    margin: 0px;
    padding: 0px;
}

.tileText {
    font: normal normal normal 1em spinnacker, sans-serif;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.tile {
    width: 45vw;
    height: 45vw;
    padding: 1vh;
    background-color: #F9F871;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.description {
    width: 45vw;
    height: 45vw;
    padding: 1vh;
    background-color: #F9F871;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .tileText {
        font: normal normal normal 18px/1.4em spinnacker, sans-serif;
        color: black;
        cursor: pointer;
    }

    .tile {
        width: 21vh;
        height: 21vh;
    }
    
    .description {
        width: 21vh;
        height: 21vh;
    }
}
