@inject NavigationManager NavigationManager

<div class="tileContainer">
    <FlipContainer>
        <Front>
            <div class="tile">
                @if (string.IsNullOrEmpty(IconPath))
                {
                    <h5 class="tileText container-centered">
                        <span>@Title</span>
                    </h5>
                }
                else
                {
                    <div>
                        <img src="@IconPath" />
                    </div>
                    <h5 class="tileText">
                        <span>@Title</span>
                    </h5>
                }
            </div>
        </Front>
        <Rear>
            <div class="description" @onclick="@(e => NavigationManager.NavigateTo(NavigationManager.BaseUri + NavigateTo))">
                <div class="tileText">
                    @ChildContent
                </div>
            </div>
        </Rear>
    </FlipContainer>
</div>

@code {
    [Parameter]
    public string NavigateTo { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string IconPath { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}