<div class="parallax d-flex flex-column justify-content-center" style="background-image: url(@ImagePath); min-height: @GetImageVerticalHeight()">
    <div class="child-container">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public string ImagePath { get; set; }

    [Parameter]
    public ImageVh? ImageHeight { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }


    private string GetImageVerticalHeight()
    {
        switch (ImageHeight)
        {
            case ImageVh.Small:
                return "50vh";
            case ImageVh.Medium:
                return "75vh";
            case ImageVh.Maximum:
                return "100vh";
            default:
                return "100vh";
        }
    }

    public enum ImageVh
    {
        Small,
        Medium,
        Maximum
    }
}
