<ImageContainer ImagePath="https://static.wixstatic.com/media/4b7a26_0dcab501742f41f3b89faa7d59d96439~mv2_d_2048_1365_s_2.png/v1/fill/w_1920,h_1280,al_c,q_90,usm_0.66_1.00_0.01/4b7a26_0dcab501742f41f3b89faa7d59d96439~mv2_d_2048_1365_s_2.webp">
    <div class="container-centered">
        <div class="main-heading" style="padding-top: 0;">
            <div><span>A</span>STHETI<span>K</span></div>
            <div>PERSONAL</div>
            <div>FITNESS TRAINER</div>
            <div class="mt-5 booking">
                <BookingButton />
            </div>
        </div>
    </div>
</ImageContainer>