@page "/imprint"

<div class="text-center font">

    <div class="pt-5">
        <h1>IMPRESSUM</h1>
    </div>

    <div class="pt-5">
        <p class="font">Antonia Knupfer, Tegernseer Landstraße 36, 81541 München</p>
        <p class="font">+49 (0) 89 234567</p>
        <p class="font">antonia@asthetik-personal.com</p>
        <p class="font">www.asthetik-personal.com</p>
        <p class="font">Geschäftsführerin: Antonia Knupfer</p>
        <p class="font">USt-IdNr., DE123456789</p>
        <br />
        <p class="font">Registernummer: HRA123456</p>
        <p class="font">Registergericht: Handelsregister München</p>
    </div>
</div>

@code {
}
